@font-face {
  src: url("../Fonts/Typo_YeonhuidongB.ttf");
  font-family: "yeon";
}

h1 {
  font-family: "yeon";
}
.button {
  font-family: "yeon";
}
button {
  font-family: "yeon";
}
body {
  display: flex;
  justify-content: center;
}
